{% extends 'base2.html.twig' %}
{% block content %}

        <!-- MAIN CONTENT-->
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-15">
                            <h2 class="title-1 m-b-25">Evenements proposés:</h2>
                            <div class="table-responsive table--no-card m-b-40">
                                <table class="table table-borderless table-striped table-earning">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Lieu</th>
                                        <th>Invite</th>
                                        <th>Description</th>
                                        <th>Nom</th>
                                        <th>Niveau</th>
                                        <th>Modifier</th>
                                        <th>Supprimer</th>


                                    </tr>
                                    </thead>


                                    <tbody>
                                    {%for evenement in evenement %}
                                    <tr>
                                        <td>{{ evenement.id }}</td>
                                        <td>{{ evenement.lieu }}</td>
                                        <td>{{ evenement.invite }}</td>
                                        <td>{{ evenement.description }}</td>
                                        <td>{{ evenement.nom }}</td>
                                        <td>{{ evenement.niveau }}</td>



                                        <td><a href="{{ path('evenement_modifierEvenement',{'id': evenement.id }) }}"> Modifier </a></td>

                                        <td><a href="{{ path('evenement_supprimerEvenement',{'qdt': evenement.id }) }}"> Supprimer </a></td>
                                    </tr>
                                    </tbody>
                                    {% endfor %}

                                </table>


                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>



        </div>

        <!-- END MAIN CONTENT-->
        <!-- END PAGE CONTAINER-->
    </div>

</div>
{%  endblock %}