{% extends "base2.html.twig" %}
{% block content %}

<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">

            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <strong>Update Suivis</strong>
                    </div>

                    <div class="card-body card-block">
                        {{ form_start((form) ) }}


                        <div class="row form-group">
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-input" class=" form-control-label">Enfants</label>
                            </div>
                            <div class="col-12 col-md-9">
                                {{ form_widget(form.idE,{'attr':{'class':'dropdown-toggle btn btn-primary'}})}}
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="textarea-input" class=" form-control-label">Nutrition</label>
                            </div>
                            <div class="col-12 col-md-9">
                                {{ form_widget(form.nutrition,{'attr':{'class':'dropdown-toggle btn btn-primary'}})}}
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="textarea-input" class=" form-control-label">Sommeil</label>
                            </div>
                            <div class="col-12 col-md-9">
                                {{ form_widget(form.sommeil,{'attr':{'class':'dropdown-toggle btn btn-primary'}})}}
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="textarea-input" class=" form-control-label">Sociabilité</label>
                            </div>
                            <div class="col-12 col-md-9">
                                {{ form_widget(form.sociabilite,{'attr':{'class':'dropdown-toggle btn btn-primary'}})}}
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="textarea-input" class=" form-control-label">Psychologie</label>
                            </div>
                            <div class="col-12 col-md-9">
                                {{ form_widget(form.psychologie,{'attr':{'class':'form-control'}})}}
                            </div>
                        </div>

                        <div class="card-footer">
                            {{ form_widget(form.Submit,{'attr':{'class':'btn btn-primary btn-sm'}})}}
                        </div>


                        {{ form_end(form) }}
                    </div>
                </div>

                {% endblock %}

