

    <!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Pioneers</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('front/') }}img/favicon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('front/') }}css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ asset('front/') }}css/owl.carousel.min.css">
    <link rel="stylesheet" href="{{ asset('front/') }}css/magnific-popup.css">
    <link rel="stylesheet" href="{{ asset('front/') }}css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ asset('front/') }}css/themify-icons.css">
    <link rel="stylesheet" href="{{ asset('front/') }}css/nice-select.css">
    <link rel="stylesheet" href="{{ asset('front/') }}css/flaticon.css">
    <link rel="stylesheet" href="{{ asset('front/') }}css/gijgo.css">
    <link rel="stylesheet" href="{{ asset('front/') }}css/animate.css">
    <link rel="stylesheet" href="{{ asset('front/') }}css/slicknav.css">
    <link rel="stylesheet" href="{{ asset('front/') }}css/style.css">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link href="{{ asset('back/') }}css/font-face.css" rel="stylesheet" media="all">
    <link href="{{ asset('back/') }}vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="{{ asset('back/') }}vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="{{ asset('back/') }}vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="{{ asset('back/') }}vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="{{ asset('back/') }}vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="{{ asset('back/') }}vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="{{ asset('back/') }}vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="{{ asset('back/') }}vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="{{ asset('back/') }}vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="{{ asset('back/') }}vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="{{ asset('back/') }}vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="{{ asset('back/') }}css/theme.css" rel="stylesheet" media="all">
</head>

<body>
<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
<![endif]-->

<!-- header-start -->
<header>
    <div class="header-area ">
        <div id="sticky-header" class="main-header-area">
            <div class="container-fluid p-0">
                <div class="row align-items-center no-gutters">
                    <div class="col-xl-2 col-lg-2">
                        <div class="{{ asset('front/') }}logo-img">
                            <a href="#">
                                <img src="{{ asset('front/') }}img/logo.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-7">
                        <div class="main-menu  d-none d-lg-block">
                            <nav>
                                <ul id="navigation">
                                    <li><a href="{{ path('back_homepage') }}">home</a></li>
                                    <li><a href="Courses.html">Courses</a></li>
                                    <li><a href="#">pages <i class="ti-angle-down"></i></a>
                                        <ul class="submenu">
                                            <li><a href="course_details.html">course details</a></li>
                                            <li><a href="{{ path('transport_homepage') }}">Transport</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="about.html">About</a></li>
                                    <li><a href="{{ path('listallFront') }}">News </a>

                                    </li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
                            </nav>
                        </div>

                    </div>

                    <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                        <div class="log_chat_area d-flex align-items-center">
                         {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                             <h5 class="login popup"><i class="flaticon-user"></i> {{app.user.username}}  </h5>
                            <a href="{{ path('fos_user_security_logout') }}" class="login popup">  <span>  log out</span> </a>

                         {% elseif is_granted('IS_AUTHENTICATED_ANONYMOUSLY') %}

                            <a href="{{ path('fos_user_security_login') }}" class="login popup"> <i class="flaticon-user"></i>  <span>log in</span> </a>
                            <a href="{{ path('fos_user_registration_register') }}" class="login popup"><span>Register</span></a>

                        {% endif %}
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <div class="noti__item js-item-menu">
                                <i class="zmdi zmdi-notifications"></i>
                                <span class="quantity">{{ mgilet_notification_unseen_count(app.user) }}</span>
                                <div class="notifi-dropdown js-dropdown">
                                    <div class="notifi__title">
                                        <p>You have {{ mgilet_notification_unseen_count(app.user) }} Notifications</p>
                                    </div>

                                    {% for n in notif %}
                                        {% if n.seen=='0' %}
                                    <div class="notifi__item">
                                        <div class="bg-c3 img-cir img-40">
                                            <i class="zmdi zmdi-file-text"></i>
                                        </div>
                                        <div class="content">

                                            <a href="{{ n.notification.link }}" >
                                            <p>News: {{ n.notification.subject }}</p>
                                            <p>{{ n.notification.message }}</p>
                                            <span class="date">{{ n.notification.date | date("d F Y") }}</span>
                                            </a>
                                            <a href="{{ path('MarkSeen',{'idNotif':n.id},true) }}">
                                            <svg class="bi bi-eye" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.134 13.134 0 001.66 2.043C4.12 11.332 5.88 12.5 8 12.5c2.12 0 3.879-1.168 5.168-2.457A13.134 13.134 0 0014.828 8a13.133 13.133 0 00-1.66-2.043C11.879 4.668 10.119 3.5 8 3.5c-2.12 0-3.879 1.168-5.168 2.457A13.133 13.133 0 001.172 8z" clip-rule="evenodd"/>
                                                <path fill-rule="evenodd" d="M8 5.5a2.5 2.5 0 100 5 2.5 2.5 0 000-5zM4.5 8a3.5 3.5 0 117 0 3.5 3.5 0 01-7 0z" clip-rule="evenodd"/>
                                            </svg>
                                               Mark as seen</a>

                                        </div>
                                    </div>
                                    {% endif %}
                                    {% endfor %}

                                </div>
                            </div>
                        </div>
                        {% endif %}


                    </div>
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>


<!-- header-end -->
{% block content %}
<div class="slider_area ">

    <div class="single_slider d-flex align-items-center justify-content-center slider_bg_1">



        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-xl-6 col-md-6">
                    <div class="{{ asset('front/') }}illastrator_png">
                        <img src="{{ asset('front/') }}img/banner/edu_ilastration.png" alt="">
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="slider_info">
                        <h3>Stay <br>
                            Connected   <br>
                            with your kids</h3>
                        <a href="#" class="boxed_btn">Browse Our Courses</a>

                    </div>
                </div>
            </div>

        </div>
        {% endblock %}

    </div>

</div>





<!-- footer -->
<footer class="footer footer_bg_1">
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="footer_widget">
                        <div class="footer_logo">
                            <a href="#">
                                <img src="{{ asset('front/') }}img/logo.png" alt="">
                            </a>
                        </div>
                        <p>
                            Firmament morning sixth subdue darkness creeping gathered divide our let god moving.
                            Moving in fourth air night bring upon it beast let you dominion likeness open place day
                            great.
                        </p>
                        <div class="socail_links">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="ti-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="ti-twitter-alt"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-youtube-play"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="col-xl-2 offset-xl-1 col-md-6 col-lg-3">
                    <div class="footer_widget">
                        <h3 class="footer_title">

                        </h3>
                        <ul>

                        </ul>

                    </div>
                </div>
                <div class="col-xl-2 col-md-6 col-lg-2">
                    <div class="footer_widget">
                        <h3 class="footer_title">

                        </h3>
                        <ul>

                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-lg-3">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                            Address
                        </h3>

                        <p>
                            200, D-block, Green lane USA <br>
                            +10 367 467 8934 <br>
                            Pioneers@contact.com
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copy-right_text">
        <div class="container">
            <div class="footer_border"></div>
            <div class="row">
                <div class="col-xl-12">
                    <p class="copy_right text-center">

                        Pioneers made it with <i class="fa fa-heart-o" aria-hidden="true"></i> .

                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer -->


<!-- form itself end-->
<form id="test-form" class="white-popup-block mfp-hide">
    <div class="popup_box ">
        <div class="popup_inner">
            <div class="logo text-center">
                <a href="#">
                    <img src="{{ asset('front/') }}img/form-logo.png" alt="">
                </a>
            </div>
            <h3>Sign in</h3>
            <form action="#">
                <div class="row">
                    <div class="col-xl-12 col-md-12">
                        <input type="email" placeholder="Enter email">
                    </div>
                    <div class="col-xl-12 col-md-12">
                        <input type="password" placeholder="Password">
                    </div>
                    <div class="col-xl-12">
                        <button type="submit" class="boxed_btn_orange">Sign in</button>
                    </div>
                </div>
            </form>
            <p class="doen_have_acc">Don’t have an account? <a class="dont-hav-acc" href="#test-form2">Sign Up</a>
            </p>
        </div>
    </div>
</form>
<!-- form itself end -->

<!-- form itself end-->
<form id="test-form2" class="white-popup-block mfp-hide">
    <div class="popup_box ">
        <div class="popup_inner">
            <div class="logo text-center">
                <a href="#">
                    <img src="{{ asset('front/') }}img/form-logo.png" alt="">
                </a>
            </div>
            <h3>Resistration</h3>
            <form action="#">
                <div class="row">
                    <div class="col-xl-12 col-md-12">
                        <input type="email" placeholder="Enter email">
                    </div>
                    <div class="col-xl-12 col-md-12">
                        <input type="password" placeholder="Password">
                    </div>
                    <div class="col-xl-12 col-md-12">
                        <input type="Password" placeholder="Confirm password">
                    </div>
                    <div class="col-xl-12">
                        <button type="submit" class="boxed_btn_orange">Sign Up</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</form>
<!-- form itself end -->


<!-- JS here -->
<script src="{{ asset('front/') }}js/vendor/modernizr-3.5.0.min.js"></script>
<script src="{{ asset('front/') }}js/vendor/jquery-1.12.4.min.js"></script>
<script src="{{ asset('front/') }}js/popper.min.js"></script>
<script src="{{ asset('front/') }}js/bootstrap.min.js"></script>
<script src="{{ asset('front/') }}js/owl.carousel.min.js"></script>
<script src="{{ asset('front/') }}js/isotope.pkgd.min.js"></script>
<script src="{{ asset('front/') }}js/ajax-form.js"></script>
<script src="{{ asset('front/') }}js/waypoints.min.js"></script>
<script src="{{ asset('front/') }}js/jquery.counterup.min.js"></script>
<script src="{{ asset('front/') }}js/imagesloaded.pkgd.min.js"></script>
<script src="{{ asset('front/') }}js/scrollIt.js"></script>
<script src="{{ asset('front/') }}js/jquery.scrollUp.min.js"></script>
<script src="{{ asset('front/') }}js/wow.min.js"></script>
<script src="{{ asset('front/') }}js/nice-select.min.js"></script>
<script src="{{ asset('front/') }}js/jquery.slicknav.min.js"></script>
<script src="{{ asset('front/') }}js/jquery.magnific-popup.min.js"></script>
<script src="{{ asset('front/') }}js/plugins.js"></script>
<script src="{{ asset('front/') }}js/gijgo.min.js"></script>

<!--contact js-->
<script src="{{ asset('front/') }}js/contact.js"></script>
<script src="{{ asset('front/') }}js/jquery.ajaxchimp.min.js"></script>
<script src="{{ asset('front/') }}js/jquery.form.js"></script>
<script src="{{ asset('front/') }}js/jquery.validate.min.js"></script>
<script src="{{ asset('front/') }}js/mail-script.js"></script>

<script src="{{ asset('front/') }}js/main.js"></script>
<script src="{{ asset('back/') }}vendor/jquery-3.2.1.min.js"></script>
<!-- Bootstrap JS-->
<script src="{{ asset('back/') }}vendor/bootstrap-4.1/popper.min.js"></script>
<script src="{{ asset('back/') }}vendor/bootstrap-4.1/bootstrap.min.js"></script>
<!-- Vendor JS       -->
<script src="{{ asset('back/') }}vendor/slick/slick.min.js">
</script>
<script src="{{ asset('back/') }}vendor/wow/wow.min.js"></script>
<script src="{{ asset('back/') }}vendor/animsition/animsition.min.js"></script>
<script src="{{ asset('back/') }}vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
</script>
<script src="{{ asset('back/') }}vendor/counter-up/jquery.waypoints.min.js"></script>
<script src="{{ asset('back/') }}vendor/counter-up/jquery.counterup.min.js">
</script>
<script src="{{ asset('back/') }}vendor/circle-progress/circle-progress.min.js"></script>
<script src="{{ asset('back/') }}vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="{{ asset('back/') }}vendor/chartjs/Chart.bundle.min.js"></script>
<script src="{{ asset('back/') }}vendor/select2/select2.min.js">
</script>

<!-- Main JS-->
<script src="{{ asset('back/') }}js/main.js"></script>
</body>

</html>


