{% extends "base2.html.twig" %}
{% block content %}

<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">

            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <strong>Update Evaluations</strong>
                    </div>

                    <div class="card-body card-block">
                        {{ form_start((formupdate) ) }}


                        <div class="row form-group">
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-input" class=" form-control-label">Enfants</label>
                            </div>
                            <div class="col-12 col-md-9">
                                {{ form_widget(formupdate.idE,{'attr':{'class':'dropdown-toggle btn btn-primary'}})}}
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="textarea-input" class=" form-control-label">Activités</label>
                            </div>
                            <div class="col-12 col-md-9">
                                {{ form_widget(formupdate.idAc,{'attr':{'class':'dropdown-toggle btn btn-primary'}})}}
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="textarea-input" class=" form-control-label">Remarque</label>
                            </div>
                            <div class="col-12 col-md-9">
                                {{ form_widget(formupdate.Remarque,{'attr':{'class':'dropdown-toggle btn btn-primary'}})}}
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="textarea-input" class=" form-control-label">Score</label>
                            </div>
                            <div class="col-12 col-md-9">
                                {{ form_widget(formupdate.Score,{'attr':{'class':'form-control'}})}}
                                {{ form_errors(formupdate) }}
                            </div>
                        </div>

                        <div class="card-footer">
                            {{ form_widget(formupdate.Submit,{'attr':{'class':'btn btn-primary btn-sm'}})}}
                        </div>


                        {{ form_end(formupdate) }}
                    </div>
                </div>

                {% endblock %}

