{% extends 'base2.html.twig' %}
{% block content %}

        <!-- MAIN CONTENT-->
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container-fluid">

                    <section class="blog_area section-padding">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-8 mb-5 mb-lg-0">
                                    <div class="blog_left_sidebar">
                                        {% for f in Formlist %}
                                        <article class="blog_item">
                                            <div class="blog_item_img">
                                                <img class="card-img rounded-0" src="{{ asset('uploads/post/' ~  f.photo) }} " alt="{{ f.titre }}">
                                                <a href="#" class="blog_item_date">
                                                    <h3>{{f.date | date("d")}}</h3>
                                                    <p>{{f.date | date("F")}}</p>
                                                </a>
                                            </div>

                                            <div class="blog_details">
                                                <a class="d-inline-block" href="single-blog.html">
                                                    <h2>{{ f.titre }}</h2>
                                                </a>
                                                <p>{{ f.description }}</p>
                                                <ul class="blog-info-link">

                                                    <li> <a href="{{ path('updateBlogAdmin',{'id':f.id}) }}" class="btn btn-warning" > <h6 style="color:black;">Update</h6> </a></li>
                                                    <li> <a href="{{ path('deleteBlogAdmin',{'id':f.id}) }}" class="btn btn-danger" ><h6 style="color:whitesmoke;">Delete</h6></a></li>


                                                </ul>
                                            </div>
                                        </article>
                                        {% endfor %}



                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="blog_right_sidebar">


                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <!-- END MAIN CONTENT-->
                    {%  endblock %}

