{% extends "base.html.twig" %}
{% block content %}
<div class="bradcam_area breadcam_bg overlay2">
    <h3>{{ f.titre }}</h3>
</div>
<!-- bradcam_area_end -->

<!--================Blog Area =================-->
<section class="blog_area single-post-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 posts-list">
                <div class="single-post">
                    <div class="feature-img">
                        <img class="img-fluid" src="{{ asset('uploads/post/' ~  f.photo) }}" alt="{{ f.titre }}">
                    </div>
                    <div class="blog_details">
                        <h2>{{ f.titre }}</h2>

                        <p class="excert">
                            {{ f.description }}
                        </p>

                    </div>
                </div>
                <div class="navigation-top">
                    <div class="d-sm-flex justify-content-between text-center">

                        <div class="col-sm-4 text-center my-2 my-sm-0">
                            <!-- <p class="comment-count"><span class="align-middle"><i class="fa fa-comment"></i></span> 06 Comments</p> -->
                        </div>
                        <ul class="social-icons">

                        </ul>
                    </div>

                </div>

                <div class="comments-area">
                    <li><a><i class="fa fa-comments"></i> </a><h4 >{{nbC}} Comments</h4 ></li>

                    {% for com in c %}
                    <div class="comment-list">
                        <div class="shadow-sm p-3 mb-5 bg-white rounded">
                         <div class="single-comment justify-content-between d-flex">
                            <div class="user justify-content-between d-flex">
                                <div class="thumb">
                                    <img src="{{ asset('uploads/post/' ~  com.user.photo) }} " alt="">
                                </div>
                                <div class="desc">
                                    <p class="comment">
                                        {{ com.text }}
                                    </p>
                                    <div class="d-flex justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <h5>
                                                <a>{{ com.user.username }}</a>
                                            </h5>
                                            <p class="date">{{com.date | date("d F Y")}}</p>

                                        <div>


                                        </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                         </div>
                              {% if  com.user.id != app.user.id %}
                             <span class="badge badge-pill badge-success"> <span class="badge">Likes {{ com.point }}</span>
                              <a href="{{ path('LikeCmtFront',{'idc':com.id},true) }}"> <i class="fa fa-heart"></i></span> </a>
                            </span>
                            {% else %}
                                <span class="badge badge-pill badge-success"> <span class="badge">Likes {{ com.point }}</span> </span>

                                {% endif %}

                            {% if  com.user.id == app.user.id %}
                                <a href="{{ path('deleteCmtFront',{'idc':com.id},true) }}"> <span class="badge badge-pill badge-danger">Delete</span></a>
                            {% endif %}
                            <br><br>

                            <div id="accordion">
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <h5 class="mb-0">
                                            <button class="badge badge-dark" data-toggle="collapse" data-target="#{{com.id}}" aria-expanded="true" aria-controls="collapseOne">
                                                Replies
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="{{com.id}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                        <div class="card-body">

                                            {% for R in reply %}
                                                {% if R.comment.id == com.id %}
                                                    <div class="shadow-none p-3 mb-5 bg-light rounded">
                                                        <div class="single-comment justify-content-between d-flex">
                                                            <div class="user justify-content-between d-flex">
                                                        <div class="thumb">
                                                            <img src="{{ asset('uploads/post/' ~  R.user.photo) }} " alt="">
                                                        </div>
                                                        <div class="desc">
                                                            <p class="comment">
                                                                {{ R.text }}
                                                            </p>
                                                            <div class="d-flex justify-content-between">
                                                                <div class="d-flex align-items-center">
                                                                    <h5>
                                                                        <a>{{ R.user.username }}</a>
                                                                    </h5>
                                                                    <p class="date">{{R.date | date("d F Y")}}</p>

                                                                    <div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                        </div>
                                                                {% if  R.user.id == app.user.id %}
                                                                    <a href="{{ path('deleteReplyFront',{'idR':R.id},true) }}"> <span class="badge badge-pill badge-danger">Delete</span></a>
                                                                {% endif %}

                                                        {% if  R.user.id != app.user.id %}

                                                            <span class="badge badge-pill badge-success"> <span class="badge">Likes {{ R.point }}</span>
                                                            <a href="{{ path('LikeReplyFront',{'idR':R.id},true) }}"> <i class="fa fa-heart"></i></span> </a>
                                                            </span>
                                                        {% else %}
                                                            <span class="badge badge-pill badge-success"> <span class="badge">Likes {{ R.point }}</span> </span>

                                                        {% endif %}
                                                    </div>
                                                {% endif %}
                                            {% endfor %}

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <br><br>

                            <form class="form-contact comment_form" action="{{ path('singleblogFront',{'id':id,'idU':idU})}}" id="commentForm">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <input name="commentid" value="{{ com.id }}" hidden>
                              <textarea class="form-control w-100" name="reply" id="{{ com.id }}" cols="30" rows="2" required
                                        placeholder="Write Reply"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="badge badge-pill badge-info"> <span class="badge badge-pill badge-info">Reply</span></button>
                                </div>
                            </form>

                         </div>

                    </div>

                    {% endfor%}
                    </div>

                <div class="comment-form">
                    <h4>Leave a Comment</h4>
                    {{ form_start(cmt) }}
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">

                                    {{ form_widget(cmt.text,{'attr':{'class':'form-control w-100'}})}}
                                </div>
                            </div>

                        </div>
                        <div class="form-group">
                            <div>

                              {{ form_widget(cmt.Submit,{'attr':{'class':'button button-contactForm btn_1 boxed-btn'}})}}

                            </div>
                        </div>
                    {{ form_end(cmt) }}
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget search_widget">
                        <form action="#">
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder='Search Keyword'
                                           onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Keyword'">
                                    <div class="input-group-append">
                                        <button class="btn" type="button"><i class="ti-search"></i></button>
                                    </div>
                                </div>
                            </div>
                            <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                    type="submit">Search</button>
                        </form>
                    </aside>

                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}