{% extends "base.html.twig" %}
{% block content %}
<div class="bradcam_area breadcam_bg overlay2">
    <h3>Single Blog</h3>
</div>
<!-- bradcam_area_end -->

<!--================Blog Area =================-->
<section class="blog_area single-post-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 posts-list">
                <div class="single-post">
                    <div class="feature-img">
                        <img class="img-fluid" src="{{ asset('uploads/post/' ~  f.photo) }}" alt="{{ f.titre }}">
                    </div>
                    <div class="blog_details">
                        <h2>{{ f.titre }}</h2>
                        <ul class="blog-info-link mt-3 mb-4">

                            <li><a href="#"><i class="fa fa-comments"></i> 03 Comments</a></li>
                        </ul>
                        <p class="excert">
                            {{ f.description }}
                        </p>

                    </div>
                </div>
                <div class="navigation-top">
                    <div class="d-sm-flex justify-content-between text-center">
                        <p class="like-info"><span class="align-middle"><i class="fa fa-heart"></i></span> Lily and 4
                            people like this</p>
                        <div class="col-sm-4 text-center my-2 my-sm-0">
                            <!-- <p class="comment-count"><span class="align-middle"><i class="fa fa-comment"></i></span> 06 Comments</p> -->
                        </div>
                        <ul class="social-icons">

                        </ul>
                    </div>
                    <div class="navigation-area">
                        <div class="row">
                            <div
                                    class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                                <div class="thumb">
                                    <a href="#">
                                        <img class="img-fluid" src="img/post/preview.png" alt="">
                                    </a>
                                </div>
                                <div class="arrow">
                                    <a href="#">
                                        <span class="lnr text-white ti-arrow-left"></span>
                                    </a>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

                <div class="comments-area">
                    <h4>05 Comments</h4>
                    {% for com in c %}
                    <div class="comment-list">
                        <div class="single-comment justify-content-between d-flex">
                            <div class="user justify-content-between d-flex">
                                <div class="thumb">
                                    <img src="img/comment/comment_1.png" alt="">
                                </div>
                                <div class="desc">
                                    <p class="comment">
                                        {{ com.text }}
                                    </p>
                                    <div class="d-flex justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <h5>
                                                <a href="#">{{ com.user.username }}</a>
                                            </h5>
                                            <p class="date">{{com.date | date("d F Y")}}</p>
                                        </div>
                                        <div class="reply-btn">
                                            <a href="#" class="btn-reply text-uppercase">reply</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor%}
                    </div>

                <div class="comment-form">
                    <h4>Leave a Comment</h4>
                    {{ form_start(cmt) }}
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">

                                    {{ form_widget(cmt.text,{'attr':{'class':'form-control w-100'}})}}
                                </div>
                            </div>

                        </div>
                        <div class="form-group">
                            <div>

                              {{ form_widget(cmt.Submit,{'attr':{'class':'button button-contactForm btn_1 boxed-btn'}})}}

                            </div>
                        </div>
                    {{ form_end(cmt) }}
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget search_widget">
                        <form action="#">
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder='Search Keyword'
                                           onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Keyword'">
                                    <div class="input-group-append">
                                        <button class="btn" type="button"><i class="ti-search"></i></button>
                                    </div>
                                </div>
                            </div>
                            <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                    type="submit">Search</button>
                        </form>
                    </aside>

                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}